<div class="row">
  <div class="col-sm-12 col-md-3">
    <h3>Yellowtail</h3>
    <div class="thumbnail">
      <img src="./assets/img/Yellowtail.jpg">
      <div class="caption">
        <p>
          <a href="#" class="btn btn-primary" role="button">Button</a>
          <a href="#" class="btn btn-default" role="button">Button</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <h3>Snapper</h3>
    <div class="thumbnail">
      <img src="./assets/img/snapper.jpg">
      <div class="caption">
        <p>
          <a href="#" class="btn btn-primary" role="button">Button</a>
          <a href="#" class="btn btn-default" role="button">Button</a>
        </p>
      </div>
    </div>
  </div>
</div>
